<div class="form-group">
      <label for="matricula">Matricula </label>
      <input type="text" class="form-control" id="matricula" ng-model="vm.matricula"
           placeholder="Matricula">
      <button type="button" class="btn btn-default" ng-click="vm.login()">Login</button>
      {{vm.asegurado.nombres}} {{vm.asegurado.apellidos}}
</div>
<uib-accordion close-others="oneAtATime">
    <uib-accordion-group ng-repeat="e in vm.especialidades" heading="{{e.nombre}}" is-open="status" is-disabled="isFirstDisabled">
      <uib-accordion close-others="oneAtATime">
        <uib-accordion-group ng-repeat="m in e.Medicos" heading="{{m.nombres}} {{m.apellidos}}" is-open="status" is-disabled="isFirstDisabled">

          <ul>
            <li ng-repeat="h in m.Horarios">
              {{vm.obtenerDia(h.fecha)}}

              <table class="table">
                <thead>
                  <tr>
                    <th>Nro.</th>
                    <th>Hora</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="n in h.Reservas">
                    <th>{{n.nro}}</th>
                    <td>Ojo</td>
                    <td>{{n.estado}}</td>
                    <td ng-show="n.estado =='OCUPADO'"></td>
                    <td>
                      <button ng-show="n.estado == 'DISPONIBLE'" type="button" class="btn btn-info" ng-click="vm.open(n.nro,h)">Reservar</button>
                    </td>
                  </tr>
                 <tbody>
              </table>
            </li>
          </ul>
        </uib-accordion-group>
      </uib-accordion>
    </uib-accordion-group>
  </uib-accordion>
  <script type="text/ng-template" id="myModalContent.html">
          <div class="modal-header">
              <h3 class="modal-title">Reserva</h3>
          </div>
          <div class="modal-body">
              Esta seguro que desea reservar la cita medica?
          </div>
          <div class="modal-footer">
              <button class="btn btn-primary" type="button" ng-click="vm.ok()">SI</button>
              <button class="btn btn-warning" type="button" ng-click="vm.cancel()">NO</button>
          </div>
  </script>
