<div class="container" ng-if="vm.esRecepcionista">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <div class="form-group col-md-12">
        <label for="matricula">Ingrese la matricula del asegurado </label>
        <input type="text" class="form-control" id="matricula" ng-model="vm.matricula"
           placeholder="Matricula">
      </div>
      <div class="col-md-3">
      </div>
      <div class="form-group col-md-6">
        <button type="button" class="btn btn-info" ng-click="vm.login()">Buscar</button>
        {{vm.asegurado.Persona.nombres}} {{vm.asegurado.Persona.apaterno}} {{vm.asegurado.Persona.amaterno}}
      </div>
      <div class="alert alert-danger" role="alert" ng-show="vm.error">No se encontró la matricula</div>
      <div class="col-md-3">
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-8">

    <div ng-show="vm.verEspecialidades">
      <h3 class="page-header">Especialidades</h3>
      <div ng-repeat="e in vm.especialidades">
          <a class="btn btn-info btn-lg-a" href="#" role="button" ng-click="vm.mostrarMedicos(e)">{{e.nombre}}</a></p>
        <br>
      </div>
    </div>
    <div ng-show="vm.verMedicos">
       <h3 class="page-header">Médicos</h3>
      <div ng-repeat="m in vm.medicos">
          <a class="btn btn-info btn-lg-a" href="#" role="button" ng-click="vm.mostrarHorarios(m)">{{m.Persona.nombres}} {{m.Persona.apaterno}} {{m.Persona.amaterno}}</a></p>
        <br>
      </div>
      <a href="#" class="btn btn-danger" role="button" ng-click="vm.volverEspecialidades()"><< Volver</a>
    </div>
    <div ng-show="vm.verHorarios">
      <h3 class="page-header">Horarios</h3>
      <div ng-repeat="h in vm.horarios">
        <a class="btn btn-danger btn-lg-a" ng-show="h.estado =='EMERGENCIA'" href="#" role="button">
          {{vm.obtenerDia(h.fecha)}} - En emergencias
        </a></p>
        <a class="btn btn-danger btn-lg-a" ng-show="h.estado =='PERMISO'" href="#" role="button">
          {{vm.obtenerDia(h.fecha)}} - Con permiso
        </a></p>
        <a class="btn btn-info btn-lg-a" ng-show="h.estado =='DISPONIBLE'" href="#" role="button" ng-click="vm.mostrarFichas(h)">
          {{vm.obtenerDia(h.fecha)}}
        </a></p>
        <br>
      </div>
      <a href="#" class="btn btn-danger" role="button" ng-click="vm.volverMedicos()"><< Volver</a>
    </div>

    <div ng-show="vm.verFichas">
      <h3 class="page-header">Fichas</h3>
      <div ng-repeat="n in vm.fichas">
          <a class="btn btn-danger btn-lg-a" ng-show="n.estado =='OCUPADO'" href="#" role="button">
            {{n.nro}} >> {{vm.obtenerHora(vm.h.hora_inicio,n.nro,vm.h.minutos)}}
          </a></p>
          <a class="btn btn-info btn-lg-a" ng-show="n.estado =='DISPONIBLE'" href="#" role="button" ng-click="vm.mostrarReservar(n)">
            {{n.nro}} >> {{vm.obtenerHora(vm.h.hora_inicio,n.nro,vm.h.minutos)}}
          </a></p>
        <br>
      </div>
      <a href="#" class="btn btn-danger" role="button" ng-click="vm.volverHorarios()"><< Volver</a>
    </div>

    <div ng-show="vm.verReseva">
      <h3 class="page-header">Reserva</h3>
      <b>Nro. Ficha: </b>
      <p>{{vm.n.nro}}</p>
      <b>Hora inicio:</b>
      <p>{{vm.obtenerHora(vm.h.hora_inicio,vm.n.nro,vm.h.minutos)}}</p>
      <b>Consultorio</b>
      <p>{{vm.h.consultorio}}</p>
      <b>Médico</b>
      <p>{{vm.m.Persona.nombres}} {{vm.m.Persona.apaterno}} {{vm.m.Persona.amaterno}}</p>
      <b>Especialidad</b>
      <p>{{vm.e.nombre}}</p>
      <a class="btn btn-success btn-lg" href="#" role="button" ng-click="vm.open(vm.n.nro,vm.h)">
        Reservar
      </a></p>
      <a href="#" class="btn btn-danger" role="button" ng-click="vm.volverFichas()"><< Volver</a>
    </div>
</div>
<div class="col-md-2">
</div>
</div>
</div>
  <script type="text/ng-template" id="myModalContent.html">
          <div class="modal-header">
              <h3 class="modal-title">Reserva</h3>
          </div>
          <div class="modal-body">
              Esta seguro que desea reservar la cita medica?
          </div>
          <div class="modal-footer">
              <button class="btn btn-primary" type="button" ng-click="vm.ok()">SI</button>
              <button class="btn btn-warning" type="button" ng-click="vm.cancel()">NO</button>
          </div>
  </script>
