<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header">Medicos
        <button  type="button" class="btn btn-info" ng-click="vm.abrir()">
          <span class="glyphicon glyphicon-add" aria-hidden="true"></span>Nuevo
        </button>
      </h3>
      <div class="form-group col-md-12">
        <label for="matricula">Buscar:</label>
        <input type="text" class="form-control" id="matricula" ng-model="vm.busqueda"
           placeholder="Asegurado">
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Nro.</th>
            <th>Matricula</th>
            <th>Especialidad</th>
            <th>Nombres</th>
            <th>Ap. Paterno</th>
            <th>Ap. Materno</th>
            <th>Genero</th>
            <th>Fecha nacimiento</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="med in vm.medicos|filter: vm.busqueda">
            <th>{{$index+1}}</th>
            <td>{{med.matricula}}</td>
            <td>{{med.Especialidad.nombre}}</td>
            <td>{{med.Persona.nombres}}</td>
            <td>{{med.Persona.apaterno}}</td>
            <td>{{med.Persona.amaterno}}</td>
            <td>{{med.Persona.genero}}</td>
            <td>{{vm.obtenerDia(med.Persona.fecha_nacimineto)}}</td>
            <td>
              <button  type="button" class="btn btn-info">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </button>
              <button  type="button" class="btn btn-danger" ng-click="vm.eliminar(med)">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
            </td>
          </tr>
         <tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/ng-template" id="medico-modal.html">
        <div class="modal-header">
            <h3 class="modal-title">Medico</h3>
        </div>
        <div class="modal-body">
          <div class="container pequenio">
              <div class="content">
                <div class="row">
                  <form role="form" >
                    <div class="col-md-12">
                      <div class="form-group col-md-4">
                        <label for="nombre">Nombres </label>
                        <input type="text" class="form-control" id="nombre" ng-model="vm.persona.nombres" required="true"
                               placeholder="Nombres">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="apaterno">Ap. Paterno </label>
                        <input type="text" class="form-control" id="apaterno" ng-model="vm.persona.apaterno"
                               placeholder="Apellido paterno">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="amaterno">Ap. Materno </label>
                        <input type="text" class="form-control" id="amaterno" ng-model="vm.persona.amaterno"
                               placeholder="Apellido materno">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group col-md-4">
                        <label for="matricula">Matricula </label>
                        <input type="text" class="form-control" id="matricula" ng-model="vm.medico.matricula"
                               placeholder="Matricula">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="genero">Genero </label>
                        <select class="form-control" ng-model="vm.persona.genero" value="MASCULINO">
                          <option value="MASCULINO" selected="selected">MASCULINO</option>
                          <option value="FEMENINO">FEMENINO</option>
                        </select>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="fechanac">Fecha Nac. </label>
                        <p class="input-group">
                          <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" ng-model="vm.persona.fecha_nacimineto" is-open="vm.opened" datepicker-options="vm.dateOptions" ng-required="true" close-text="Close"/>
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.abrirPopup()"><i class="glyphicon glyphicon-calendar"></i></button>
                          </span>
                        </p>
                      </div>
                    </div>
                    <div class="col-md-4">
                        <div uib-dropdown is-open="statusb.isopen">
                            <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                              {{ vm.especialidad.nombre || 'Seleccione una especialidad' }}
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                              <li role="menuitem" ng-repeat="esp in vm.especialidades">
                                  <a href="" ng-click="vm.seleccionarEspecialidad(esp)">{{ esp.nombre }}</a>
                              </li>
                            </ul>
                        </div>
                    </div>
                  </form>
                </div>
              </div>
          </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="submit" ng-click="vm.ok()">Guardar</button>
            <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancelar</button>
        </div>
</script>

<script type="text/ng-template" id="eliminar-medico.html">
        <div class="modal-header">
            <h3 class="modal-title">Eliminar</h3>
        </div>
        <div class="modal-body">
          <span> ¿Desea eliminar el medico?</span>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="submit" ng-click="vm.eliminar()">SI</button>
            <button class="btn btn-warning" type="button" ng-click="vm.cancel()">NO</button>
        </div>
</script>
