<!--login modal-->
          <div class="container">
              <div class="content">
                <div class="row">
                  <div class="login-form">
                    <h1 class="text-center">Citas medicas Cossmil</h1>
                              <form class="form col-md-12 center-block">
                                <div class="form-group">
                                  <input type="text" class="form-control input-lg" ng-model="vm.usuario" placeholder="Usuario">
                                </div>
                                <div class="form-group">
                                  <input type="password" class="form-control input-lg" ng-model="vm.password" placeholder="Contraseña">
                                </div>
                                <div class="alert alert-danger" role="alert" ng-if="vm.error != null">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span class="sr-only">Error:</span>
                                    {{vm.error}}
                                </div>
                                <div class="form-group">
                                  <button class="btn btn-primary btn-lg btn-block" ng-click="vm.login()">Iniciar</button>
                                  <span class="pull-right"><a href="#">Olvide mi contraseña</a></span>
                                </div>
                              </form>
                  </div>
                </div>
              </div>
            </div>
